/* general */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

nav {
    height: 110px;
    width: 100%;
    background: #000;
    color: #fff;
}

.container {
    height: 100%;
    width: 100%;
    max-width: 1920;
    margin: 0 auto;
    padding: 0 2rem;
}

nav .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* logo */
.logo {
    display: flex;
    flex-basis: 140px;
    flex-grow: 1;
    position: relative;
    top: -10px;
}

.half-logo {
    display: none;
}

@media (max-width: 1130px) {
    .half-logo {
        display: flex;
    }

    .full-logo {
        display: none;
    }
}

/* search */
.search {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.search dl {
    display: flex;
    justify-content: center;
    position: relative;
    top: -10px;
}

.search dl dd {
    margin: 0 1rem;
}

.search-bar {
    background: #fff;
    border: 1px solid #000;
    position: absolute;
    top: 25px;
    display: flex;
    align-items: center;
    border-radius: 50px;
}

.search-bar input {
    padding: 0.5rem 3rem;
    border: none;
    margin: 1rem 0;
}

.search-bar div {
    height: 3rem;
    width: 3rem;
    margin: 0 0.5rem 0 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    background: #eb4d60;
}

.search-bar input:first-child {
    border-radius: 50px 0 0 50px;
}

.search-bar input:last-child {
    border-radius: 0 50px 50px 0;
}

input:nth-child(1)::placeholder {
    font-weight: bold;
}

.search-bar input:nth-child(1),
.search-bar input:nth-child(2),
.search-bar input:nth-child(3) {
    border-right: 1px solid grey;
}

/* users */
.users {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-basis: 140px;
    flex-grow: 1;
    position: relative;
    top: -10px;
}

.users a {
    color: #fff;
    text-decoration: none;
}

.language {
    margin-left: 1rem;
}

.menu {
    display: flex;
    align-items: center;
    background: #fff;
    border-radius: 25px;
    color: grey;
    margin-left: 1rem;
}

.menu svg {
    height: 100%;
}

.menu svg:first-child {
    margin: 0.25rem 0.25rem 0.25rem 0.7rem;
}

.menu svg:last-child {
    margin: 0.25rem 0.255rem;
}
